.contact-section-main
  .text_header
    opacity: 0
    transform: translateY(100px)
    transition: 1s ease opacity, 1s ease transform

  .contacts__hint,
  .contacts__form
    opacity: 0
    transform: translateY(130px)
    transition: 1s ease opacity, 1s ease transform


  .contacts__button
    opacity: 0
    transform: translateY(30px)
    transition: 1s ease opacity, 1s ease transform, 0.3s ease background-color


  &.animate
    .text_header,
    .contacts__hint,
    .contacts__form,
    .contacts__button
      opacity: 1
      transform: translateY(0)
