.experience
  .text_header
    opacity: 0
    transform: translateY(100px)
    transition: 1s ease opacity,  1s ease transform

  .slider__controls
    opacity: 0
    transform: translateY(140px)
    transition: 1s ease opacity,  1s ease transform


  .slider-container
    transition: 1s ease opacity,  1.3s ease transform
    transition-delay: 0.2s
    opacity: 0
    transform: translateX(calc(100% + (100vw - 100%) / 2))

  &.animate
    .text_header, .slider__controls
      opacity: 1
      transform: translateY(0)

    .slider-container
      opacity: 1
      transform: translateX(0)