.integration
  .text_header
    opacity: 0
    transform: translateY(100px)
    transition: 1s ease opacity, 1s ease transform

  .integration__decor
    opacity: 0
    transform: translateX(-50px)
    transition: 1s ease opacity, 1s ease transform

    &:nth-child(1)
      transition-delay: 0.3s

    &:nth-child(2)
      transition-delay: 0.6s

    &:nth-child(3)
      transition-delay: 0.9s

  .integration__item
    opacity: 0
    transform: translateX(-50px)
    transition: 1s ease opacity, 1s ease transform

    &:nth-child(1)
      transition-delay: 0.7s

    &:nth-child(2)
      transition-delay: 1s

    &:nth-child(3)
      transition-delay: 1.3s


  &.animate
    .text_header, .integration__decor, .integration__item
      opacity: 1
      transform: translateY(0)