.curtain
  transform: translateY(0)
  transition: 1s ease transform

  &.animate
    transform: translateY(-100%)

.jumbotron__logo
  div:nth-child(1), div:nth-child(2)
    @media screen and (max-width: $tablet-width)
      transform: none !important

.header-awaiting-animation
  .jumbotron__logo
    div:nth-child(1)
      opacity: 0
      transform: translateX(200px)
      transition: 0.6s ease transform, 0.6s ease opacity
      transition-delay: 0.5s

    div:nth-child(2)
      opacity: 0
      transform: translateX(-200px)
      transition: 0.6s ease transform, 0.6s ease opacity
      transition-delay: 0.5s

    div:nth-child(3)
      transition: 0.6s ease opacity
      transition-delay: 0.5s
      opacity: 0

  .jumbotron__background,
  .section_header_wrapper .section_background_black
    opacity: 0
    transition: 1s ease opacity
    transition-delay: 0.6s

  .section_header_wrapper .section_background_white
    opacity: 0
    //transition: 0s 1.6s step-end opacity

  .navigation
    opacity: 0
    transform: translate3d(-50%, 30px, 0)
    transition: 0.6s ease transform, 0.6s ease opacity
    transition-delay: 0.6s

  .navigation__text, .navigation__button
    transform: translateY(20px)
    transition: 0.4s ease transform, 0.4s ease opacity !important
    transition-delay: 0.6s !important


  &.animate-jumbotron
    .jumbotron__logo div
      transform: translateX(0)
      opacity: 1

    .jumbotron__background,
    .section_header_wrapper .section_background_black
      opacity: 1

    .navigation
      opacity: 1
      transform: translate3d(-50%, 0, 0)

    .navigation__text, .navigation__button
      transform: translateY(0)

