.navigation
  .navigation__text
    transition: 0.3s ease transform, 0.3s ease opacity
    transition-delay: 0.4s


  .logo__animate-inner
    transition: 0.3s ease transform
    transition-delay: 0.3s

  .logo__label svg
    transition: 0.3s ease transform
    transition-delay: 0s


  &_collapsed
    .navigation__text
      transform: translateY(-155%)
      transition-delay: 0s

      @media screen and (max-width: $tablet-width)
        transform: none
        opacity: 0


    .logo__animate-inner
      transform: translate3d(0, 0, 0)
      transition-delay: 0.1s

    .logo__label svg
      transform: translate3d(0, 0, 0)
      transition-delay: 0.4s

