.pml-live
  .pml-live__text
    transition: ease transform 1.3s


    &:nth-child(1)
      transform: translateX(calc(-100% - (100vw - 100%) / 2))


    &:nth-child(2)
      transform: translateX(calc(-120% - (100vw - 100%) / 2))


    &:nth-child(3)
      transform: translateX(calc(-140% - (100vw - 100%) / 2))


  &.animate
    .pml-live__text
      transform: translateX(0)

  &.animate-next
    .pml-live__text
      &:nth-child(1)
        transform: translateX(calc(100% + (100vw - 100%) / 2))


      &:nth-child(2)
        transform: translateX(calc(120% + (100vw - 100%) / 2))


      &:nth-child(3)
        transform: translateX(calc(140% + (100vw - 100%) / 2))