.service-item_mediahub,
.service-item_archive,
.service-item_signal,
.service-item_promo
  .service-item__header
    opacity: 0
    transform: translateY(100px)
    transition: 1s ease opacity, 1s ease transform

  .rock-feature
    opacity: 0
    transform: translateY(130px)
    transition: 1s ease opacity, 1s ease transform

  .service-item__list
    opacity: 0
    transform: translateY(150px)
    transition: 1s ease opacity, 1s ease transform

  &.animate
    .service-item__header, .service-item__list, .rock-feature
      opacity: 1
      transform: translateY(0)

