.statistics
  .statistics-item
    opacity: 0
    transform: translateY(140px)
    transition: 1s ease transform, opacity ease 1s

    &:nth-child(2)
      transition-delay: 0.2s

    &:nth-child(3)
      transition-delay: 0.4s

    &:nth-child(4)
      transition-delay: 0.6s

  &.animate
    .statistics-item
      opacity: 1
      transform: translateY(0)