.button
  border: none
  outline: none
  -webkit-appearance: none
  border-radius: 0
  padding: 17px 26px
  min-width: 170px
  background-color: $green
  font-size: 12px
  font-weight: 500
  letter-spacing: 1.01px
  font-family: 'GothamPro', sans-serif
  text-transform: uppercase
  box-shadow: none
  cursor: pointer
  color: black
  height: 50px
  box-sizing: border-box
  display: inline-flex
  align-items: center
  justify-content: center
  white-space: nowrap
  transition: 0.3s ease background-color

  @media screen and (min-width: $tablet-large-min-width)
    &:hover
      background-color: #019f00

  @media screen and (max-width: $phone-width)
    height: #{get-vw(50px)}
    font-size: #{get-vw(12px)}
    padding: #{get-vw(17px)} #{get-vw(26px)}