.clients
  position: relative
  z-index: 1
  overflow: visible

  &__header
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 70px

    @media screen and (max-width: $tablet-large-width)
      margin-bottom: 55px

    @media screen and (max-width: $phone-width)
      margin-bottom: #{get-vw(35px)}

  &__slider-item
    height: 397px
    padding: 36px 34px

    @media screen and (max-width: $tablet-large-width)
      width: 407px
      height: 323px
      padding: 26px

    @media screen and (max-width: $phone-width)
      width: #{get-vw(295px)}
      height: #{get-vw(380px)}
      padding: #{get-vw(34px)} #{get-vw(22px)} #{get-vw(35px)} #{get-vw(26px)}


  &__label
    &_zvezda
      width: 180px

      @media screen and (max-width: $tablet-large-width)
        width: 150px

      @media screen and (max-width: $phone-width)
        width: auto

    &_vgtrk
      width: 300px

      @media screen and (max-width: $phone-width)
        width: auto

  &__logo
    &_zvezda
      background-image: url('../static/images/logo-zvezda@2x.png')

      @media screen and (max-width: $phone-width)
        background-image: url('../static/images/logo-zvezda-mobile@2x.png')


    &_media
      background-image: url('../static/images/logo-media@2x.png')

      @media screen and (max-width: $phone-width)
        background-image: url('../static/images/logo-media-mobile@2x.png')

    &_vgtrk
      background-image: url('../static/images/logo-ct@2x.png')

      @media screen and (max-width: $phone-width)
        background-image: url('../static/images/logo-ct-mobile@2x.png')

    &_strim
      background-image: url('../static/images/logo-stv.png')

      @media screen and (max-width: $phone-width)
        background-image: url('../static/images/logo-stv-mobile.png')
