.container
  width: 1170px
  margin: 0 auto

  @media screen and (max-width: $tablet-large-width)
    width: 930px

  @media screen and (max-width: $tablet-width)
    width: 628px

  @media screen and (max-width: $phone-width)
    width: #{get-vw(270px)}