.contacts
  &__header
    margin-bottom: 63px
    max-width: 856px

    @media screen and (max-width: $tablet-large-width)
      max-width: 609px
      margin-bottom: 27px

    @media screen and (max-width: $tablet-width)
      margin-bottom: 47px

    @media screen and (max-width: $phone-width)
      font-size: #{get-vw(28px)}
      line-height: 1.07
      letter-spacing: #{get-vw(-1.09px)}
      margin-bottom: #{get-vw(33px)}

  &__layout
    display: flex
    position: relative

    @media screen and (max-width: $tablet-width)
      flex-direction: column

  &__success
    max-width: 516px
    font-size: 24px
    line-height: 1.33
    color: $green
    position: absolute
    top: 0
    left: 0
    display: none

  &__hint
    max-width: 361px
    line-height: 1.5
    color: $green
    margin-right: 145px

    @media screen and (max-width: $tablet-large-width)
      font-size: 14px
      line-height: 1.57
      margin-right: 160px
      max-width: 292px

    @media screen and (max-width: #{$phone-width})
      margin-right: 0
      max-width: none
      font-size: #{get-vw(14px)}

  &__form
    width: 570px

    @media screen and (max-width: $tablet-large-width)
      width: 427px

    @media screen and (max-width: $tablet-width)
      margin-top: 90px

    @media screen and (max-width: #{$phone-width})
      width: 100%
      margin-top: #{get-vw(33px)}


  &__button
    margin-top: 57px

    @media screen and (max-width: $tablet-large-width)
      margin-top: 71px

    @media screen and (max-width: #{$phone-width})
      margin-top: #{get-vw(87px)}
      width: 100%

.contact-section_success
  .contacts__success
    display: block

  .contacts__hint, .contacts__form
    opacity: 0 !important
    transition: none !important
    overflow: hidden


  .contacts__form
    width: 0
