.experience
  overflow: hidden
  position: relative
  padding-top: 206px
  padding-bottom: 150px

  @media screen and (max-width: $tablet-large-width)
    padding-top: 144px
    padding-bottom: 131px

  @media screen and (max-width: $tablet-width)
    padding: 150px 0

  @media screen and (max-width: $phone-width)
    padding-top: #{get-vw(54px)}
    padding-bottom: #{get-vw(69px)}

  &__background
    position: absolute
    top: 50%
    left: 50%
    width: auto
    height: auto
    min-height: 100%
    min-width: 100%
    transform: translate3d(-50%, -50%, 0)
    object-fit: cover
    z-index: 0

  &__overlay
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    z-index: 1
    background: black
    opacity: 0.7

  &__container
    z-index: 2
    position: relative
    overflow: visible

  &__header
    max-width: 688px

    @media screen and (max-width: $tablet-large-width)
      max-width: 427px

    @media screen and (max-width: $phone-width)
      max-width: none


  &__header-block
    display: flex
    justify-content: space-between
    align-items: flex-end
    margin-bottom: 80px

    @media screen and (max-width: $tablet-large-width)
      margin-bottom: 50px

    @media screen and (max-width: $tablet-width)
      margin-bottom: 60px

    @media screen and (max-width: $phone-width)
      flex-direction: column
      align-items: flex-start
      justify-content: flex-start
      margin-bottom: #{get-vw(30px)}

  &__slider-item
    height: 315px
    padding: 35px 60px 38px 34px

    @media screen and (max-width: $tablet-large-width)
      width: 425px
      padding: 35px 40px 35px 28px

    @media screen and (max-width: $phone-width)
      width: #{get-vw(294px)}
      padding: #{get-vw(35px)} #{get-vw(28px)} #{get-vw(25px)} #{get-vw(34px)}
      height: #{get-vw(270px)}

  &__slider-controls
    margin-bottom: 20px

    @media screen and (max-width: $phone-width)
      margin-top: #{get-vw(56px)}
      margin-bottom: 0