.footer
  padding: 76px 135px 63px

  @media screen and (max-width: $tablet-large-width)
    padding-left: 0
    padding-right: 0

  @media screen and (max-width: $tablet-width)
    width: 676px
    padding-bottom: 74px

  @media screen and (max-width: $phone-width)
    padding-top: #{get-vw(56px)}
    padding-bottom: #{get-vw(49px)}
    width: #{get-vw(270px)}

  &__content
    display: flex
    padding-bottom: 97px

    @media screen and (max-width: $tablet-width)
      flex-wrap: wrap
      justify-content: space-between

    @media screen and (max-width: $phone-width)
      padding-bottom: #{get-vw(52px)}


  &__links
    padding-top: 61px
    border-top: solid 1px #7f7f7f
    display: flex
    justify-content: space-between

    @media screen and (max-width: $phone-width)
      padding-top: #{get-vw(45px)}
      flex-direction: column
      justify-content: flex-start


  &__docs
    display: flex
    flex-direction: column

    @media screen and (max-width: $tablet-width)
      max-width: 352px

  &__link
    display: inline-block
    color: white
    font-size: 14px
    line-height: 1.71
    text-decoration: none

    &:not(:last-child)
      margin-bottom: 7px

    @media screen and (max-width: $phone-width)
      font-size: #{get-vw(12px)}
      line-height: 1.92

      &:not(:last-child)
        margin-bottom: #{get-vw(13px)}

  &__logo
    width: 203px
    height: 64px
    background: url('../static/images/pike-logo-light.svg') center no-repeat
    background-size: contain
    margin-right: 113px

    @media screen and (max-width: $tablet-large-width)
      margin-right: 70px

    @media screen and (max-width: $phone-width)
      margin-right: 0
      width: #{get-vw(150px)}
      height: #{get-vw(48px)}

  &__contacts
    display: flex
    flex-direction: column
    margin-right: auto

    @media screen and (max-width: $tablet-large-width)
      padding-top: 5px

    @media screen and (max-width: $tablet-width)
      margin-left: auto
      margin-right: 0

    @media screen and (max-width: $phone-width)
      margin-left: 0
      margin-top: #{get-vw(94px)}
      padding-top: 0

  &__contact
    display: inline-block
    text-decoration: none
    color: white
    font-size: 16px
    line-height: 1.5

    @media screen and (max-width: $tablet-large-width)
      font-size: 14px
      line-height: 1.57

    @media screen and (max-width: $phone-width)
      font-size: #{get-vw(14px)}

    & + &
      margin-top: 8px

      @media screen and (max-width: $phone-width)
        margin-top: #{get-vw(8px)}

  &__socials
    display: flex
    margin-bottom: 50px
    align-items: flex-end

    @media screen and (max-width: $tablet-width)
      margin-bottom: 0

    @media screen and (max-width: $phone-width)
      flex-wrap: wrap
      align-items: flex-start

  &__right
    @media screen and (max-width: $tablet-width)
      width: 100%
      display: flex
      justify-content: space-between
      margin-top: 63px

    @media screen and (max-width: $phone-width)
      flex-direction: column
      margin-top: #{get-vw(55px)}

  &__social
    width: 30px
    height: 30px
    cursor: pointer

    @media screen and (max-width: $phone-width)
      width: #{get-vw(30px)}
      height: #{get-vw(30px)}

    svg
      width: 100%
      height: 100%
      object-fit: contain
      object-position: center

    .social-inner
      transition: fill 0.3s ease

    &:hover
      .social-inner
        fill: $green

    & + &
      margin-left: 27px

      @media screen and (max-width: $phone-width)
        margin-left: 0

    &:not(:last-child)
      @media screen and (max-width: $phone-width)
        margin-right: #{get-vw(20px)}

  &__redis
    text-align: right
    font-size: 16px
    color: #7f7f7f
    margin-top: 5px

    @media screen and (max-width: $tablet-large-width)
      font-size: 14px
      line-height: 1.57

    @media screen and (max-width: $tablet-width)
      margin-right: 44px
      margin-top: 4px

    @media screen and (max-width: $phone-width)
      text-align: left
      margin-right: 0
      margin-top: #{get-vw(65px)}
      font-size: #{get-vw(14px)}

    a
      text-decoration: none
      color: white
      transition: color 0.3s ease

      @media screen and (min-width: $tablet-large-min-width)
        &:hover
          color: $green
