.input
  display: block
  outline: none
  padding-bottom: 20px
  padding-top: 0
  font-size: 24px
  line-height: 1.33
  background: none
  border: none
  color: white
  border-bottom: 2px solid #00c800
  font-family: 'GothamPro', sans-serif
  width: 100%
  height: 53px
  box-sizing: border-box
  resize: none

  @media screen and (max-width: $tablet-large-width)
    padding-bottom: 13px
    font-size: 18px
    height: 35px

  @media screen and (max-width: $phone-width)
    font-size: #{get-vw(18px)}
    height: #{get-vw(43px)}
    padding-bottom: #{get-vw(13px)}


  &::placeholder
    padding-top: 6px
    font-size: 16px
    line-height: 1.5
    padding-bottom: 2px
    color: white
    font-family: 'GothamPro', sans-serif

    @media screen and (max-width: $tablet-large-width)
      font-size: 14px
      line-height: 1.71

    @media screen and (max-width: $phone-width)
      font-size: #{get-vw(14px)}


  &-group
    &__error
      line-height: 1.71
      margin-top: 4px
      color: #ff0000
      display: none

      @media screen and (max-width: $phone-width)
        margin-top: #{get-vw(4px)}

    & + &
      margin-top: 40px

      @media screen and (max-width: $tablet-large-width)
        margin-top: 30px

      @media screen and (max-width: $phone-width)
        margin-top: #{get-vw(45px)}

  &_error
    border-bottom-color: #ff0000

    & + .input-group__error
      display: block

  &:focus
    border-bottom-color: white

  &:not(:placeholder-shown)
    border-bottom-color: white

textarea.input
  @media screen and (max-width: $tablet-large-width)
    height: 40px

  @media screen and (max-width: $phone-width)
    height: #{get-vw(40px)}
