.integration
  position: relative

  &__decors
    display: flex
    margin-left: 166px
    position: absolute
    top: 183px
    z-index: 0

    @media screen and (max-width: $desktop-max-width)
      top: 126px

    @media screen and (max-width: $tablet-large-width)
      margin-left: 106px

    @media screen and (max-width: $tablet-width)
      margin-left: 55px
      top: 135px

    @media screen and (max-width: $phone-width)
      margin-left: #{get-vw(-27px)}
      top: #{get-vw(37px)}

  &__decor
    width: 0
    height: 0
    border-style: solid
    border-width: 307px 0 307px 334px
    border-color: transparent transparent transparent $green

    @media screen and (max-width: $tablet-large-width)
      border-width: 253.5px 0 253.5px 276px

    @media screen and (max-width: $tablet-width)
      border-width: 342px 0 342px 375px

      &:first-child, &:last-child
        display: none

    @media screen and (max-width: $phone-width)
      border-width: #{get-vw(282.5px)} 0 #{get-vw(282.5px)} #{get-vw(313px)}

  &__header
    z-index: 1
    position: relative

  &__items
    z-index: 1
    position: relative
    display: flex
    margin-left: 205px
    margin-top: 196px
    line-height: 1.5

    @media screen and (max-width: $tablet-large-width)
      margin-top: 130px
      font-size: 14px
      line-height: 1.57
      margin-left: 130px

    @media screen and (max-width: $tablet-width)
      flex-direction: column
      margin-top: 80px
      margin-left: 165px

    @media screen and (max-width: $phone-width)
      margin-left: 0
      margin-top: #{get-vw(53px)}
      font-size: #{get-vw(14px)}

  &__item
    display: flex
    width: 282px

    @media screen and (max-width: $tablet-large-width)
      width: 280px

    &:before
      content: ''
      position: relative
      display: block
      width: 14px
      height: 14px
      background: black
      flex-shrink: 0
      margin-right: 18px

      @media screen and (max-width: $tablet-large-width)
        width: 10px
        height: 10px
        margin-top: 5px

      @media screen and (max-width: $phone-width)
        width: #{get-vw(10px)}
        height: #{get-vw(10px)}
        margin-top: #{get-vw(5px)}

    &:first-child
      width: 271px

    @media screen and (max-width: $tablet-width)
      &, &:first-child
        width: 430px

    @media screen and (max-width: $phone-width)
      &, &:first-child
        width: #{get-vw(260px)}

    &:nth-child(2)
      margin-left: 64px
      margin-right: 51px

      @media screen and (max-width: $tablet-large-width)
        margin-left: 36px
        margin-right: 38px

      @media screen and (max-width: $tablet-width)
        margin: 66px 0

      @media screen and (max-width: $phone-width)
        margin: #{get-vw(42px)} 0