.jumbotron
  height: 100vh
  min-height: 700px
  position: relative
  overflow: hidden

  @media screen and (max-width: $phone-width)
    min-height: auto

.jumbotron__logo
  display: block
  z-index: 1
  position: absolute
  margin: 0
  bottom: 70px
  width: 1780px
  left: 50%
  transform: translate3d(-50%, 0, 0)

  @media screen and (max-width: $desktop-max-width)
    width: 1300px

  @media screen and (max-width: $tablet-large-width)
    width: 930px

  @media screen and (max-width: $tablet-width)
    width: 676px
    bottom: 55px

  @media screen and (max-width: $phone-width)
    width: #{get-vw(266px)}
    bottom: #{get-vw(57px)}

  div
    height: 184px
    background-size: contain
    background-repeat: no-repeat
    background-position: top left

    @media screen and (max-width: $desktop-max-width)
      height: 163px

    @media screen and (max-width: $tablet-large-width)
      height: 122px

    @media screen and (max-width: $tablet-width)
      height: 132px

    @media screen and (max-width: $phone-width)
      height: #{get-vw(51px)}

    &:first-child
      background-image: url('../static/images/logo-line1.svg')
      //width: 652px

      @media screen and (max-width: $desktop-max-width)
        //width: 577px

      @media screen and (max-width: $tablet-large-width)
        //width: 430px

      @media screen and (max-width: $tablet-width)
        //width: 470px

      @media screen and (max-width: $phone-width)
        //width: #{get-vw(183px)}

    &:nth-child(2)
      margin-top: 34px
      background-image: url('../static/images/logo-line2.svg')
      //width: 1409px

      @media screen and (max-width: $desktop-max-width)
        //width: 1246px
        margin-top: 30px

      @media screen and (max-width: $tablet-large-width)
        //width: 928px
        margin-top: 23px

      @media screen and (max-width: $tablet-width)
        //width: 683px
        background-image: url('../static/images/logo-line2-short.svg')
        margin-top: 23px
        margin-bottom: 23px

      @media screen and (max-width: $phone-width)
        //width: #{get-vw(266px)}
        margin-top: #{get-vw(10px)}
        margin-bottom: #{get-vw(10px)}


    &:nth-child(3)
      display: none

      @media screen and (max-width: $tablet-width)
        display: block
        background-image: url('../static/images/logo-line3.svg')
        background-position-x: right
        width: 316px
        margin-left: auto

        @media screen and (max-width: $phone-width)
          width: #{get-vw(123px)}




.jumbotron__background
  width: auto
  height: auto

  min-width: 100vw
  min-height: 100vh

  object-fit: cover
  position: absolute

  left: 50%
  top: 50%
  transform: translate(-50%, -50%)

  z-index: 0

  @media screen and (max-width: $tablet-large-width)
    object-position: 90%

  @media screen and (max-width: $tablet-width)
    object-position: 50%

  @media screen and (max-width: $phone-width)
    min-height: auto