.logo
  width: 199px
  height: 66px
  display: flex

  svg
    width: 100%
    height: 100%
    object-fit: contain

  @media screen and (max-width: #{$phone-width})
    width: #{get-vw(130px)}
    height: #{get-vw(42px)}

  &__play1
    width: 39px
    height: 47px

    @media screen and (max-width: #{$phone-width})
      width: #{get-vw(20px)}
      height: #{get-vw(31px)}

  &__name
    width: 122px
    height: 41px
    margin-top: 4px
    margin-left: 6px
    margin-right: 7px

    @media screen and (max-width: #{$phone-width})
      width: #{get-vw(80px)}
      height: #{get-vw(27px)}
      margin-top: #{get-vw(1.3px)}
      margin-left: #{get-vw(3.9px)}
      margin-right: #{get-vw(4.6px)}

    path
      transition: fill 0.5s ease

  &__play2
    width: 24px
    height: 47px

    @media screen and (max-width: #{$phone-width})
      width: #{get-vw(16px)}
      height: #{get-vw(30.7px)}

  &__label
    width: 125px
    height: 17px
    margin-left: -1px

    @media screen and (max-width: #{$phone-width})
      width: #{get-vw(81px)}
      height: #{get-vw(11px)}

    overflow: hidden

    svg
      height: 11px

      @media screen and (max-width: #{$phone-width})
        height: #{get-vw(11px)}

    &:before
      display: block
      content: ''
      width: 100%
      height: 3px

      @media screen and (max-width: #{$phone-width})
        height: 0

  &__animate-container
    overflow: hidden

  &__animate-inner
    display: flex

  &_collapsed
    .logo__animate-inner
      transform: translate3d(-85%, 0, 0)

    .logo__label svg
      transform: translate3d(0, -160%, 0)

  &_inversed
    .logo__name path
      fill: black
