.navigation
  width: 1780px
  margin: 0 auto
  position: fixed
  z-index: 10
  top: 50px
  left: 50%
  transform: translate3d(-50%, 0, 0)
  display: flex

  @media screen and (max-width: $desktop-max-width)
    width: 1300px

  @media screen and (max-width: $tablet-large-width)
    width: 930px

  @media screen and (max-width: $tablet-width)
    width: 676px

  @media screen and (max-width: $phone-width)
    width: #{get-vw(280px)}
    top: #{get-vw(44px)}

  &__text
    max-width: 504px
    line-height: 1.33
    font-size: 24px
    position: absolute
    left: 100px

    @media screen and (max-width: $tablet-width)
      left: 0
      top: 90px

    @media screen and (max-width: $phone-width)
      font-size: #{get-vw(14px)}
      line-height: 1.57
      top: #{get-vw(61px)}
      left: #{get-vw(7px)}


  &__button
    margin-left: auto
    width: 200px

    @media screen and (max-width: $phone-width)
      display: none

  &__button-mobile
    display: none

    @media screen and (max-width: $phone-width)
      display: block
      width: #{get-vw(29px)}
      height: #{get-vw(35px)}
      background: url('../static/images/phone.svg') no-repeat center
      margin-left: auto