.pml-live
  height: 595px
  background: black
  position: relative
  display: flex
  justify-content: center
  align-items: center
  text-decoration: none
  color: white
  overflow: hidden

  @media screen and (max-width: $desktop-max-width)
    height: 460px

  @media screen and (max-width: $tablet-large-width)
    height: 356px

  @media screen and (max-width: $phone-width)
    height: #{get-vw(442px)}
    justify-content: flex-start
    align-items: flex-start


  &__background
    position: absolute
    top: 50%
    left: 50%
    width: auto
    height: auto

    min-width: 100%
    min-height: 100%

    transform: translate3d(-50%, -50%, 0)

    object-fit: cover
    z-index: 0

  &__overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1
    background: black
    opacity: 0.5

  &:hover
    .pml-live__overlay
      opacity: 0.3

  &__logo
    width: 151px
    height: 151px
    background: url('../static/images/pml-logo.svg') center no-repeat
    background-size: contain
    position: absolute
    top: 0
    right: 96px

    @media screen and (max-width: $desktop-max-width)
      right: 120px

    @media screen and (max-width: $tablet-large-width)
      width: 108px
      height: 108px
      right: 40px

    @media screen and (max-width: $tablet-width)
      right: 50px

    @media screen and (max-width: $phone-width)
      right: 0
      left: 0
      width: #{get-vw(101px)}
      height: #{get-vw(101px)}


  &__content
    z-index: 2
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    position: relative

    @media screen and (max-width: $desktop-max-width)
      padding-right: 60px

    @media screen and (max-width: $tablet-large-width)
      padding-right: 40px

    @media screen and (max-width: $tablet-width)
      padding-right: 10px

    @media screen and (max-width: $phone-width)
      padding-right: 0
      margin-left: #{get-vw(20px)}
      justify-content: flex-start
      padding-top: #{get-vw(241px)}
      box-sizing: border-box

  &__text
    font-size: 80px
    font-weight: bold
    letter-spacing: -1.7px

    @media screen and (max-width: $tablet-large-width)
      font-size: 60px
      letter-spacing: -1.28

    @media screen and (max-width: $phone-width)
      font-size: #{get-vw(40px)}
      line-height: 1.15
      letter-spacing: #{get-vw(-0.85px)}

    & + &
      margin-top: 23px

      @media screen and (max-width: $desktop-max-width)
        margin-top: 8px

      @media screen and (max-width: $tablet-large-width)
        margin-top: 0

    &_margin
      &_m
        padding-left: 226px

        @media screen and (max-width: $tablet-large-width)
          padding-left: 155px

        @media screen and (max-width: $phone-width)
          padding-left: 0

      &_l
        padding-left: 423px

        @media screen and (max-width: $tablet-large-width)
          padding-left: 289px

        @media screen and (max-width: $phone-width)
          padding-left: 0