.popup
  width: 100vw
  height: 100vh

  position: fixed
  top: 0
  left: 0

  z-index: 10

  display: none

  overflow-y: auto

  &_shown
    display: block

  &__contact-section
    display: flex
    min-height: 100%
    box-sizing: border-box

    padding-top: 100px
    padding-bottom: 100px

    align-items: center

    @media screen and (max-width: $phone-width)
      padding-top: #{get-vw(100px)}
      padding-bottom: #{get-vw(100px)}
      align-items: flex-start

  &__close
    width: 46px
    height: 39px
    position: absolute
    top: 100px
    right: calc((100vw - 1170px) / 2)
    cursor: pointer

    svg path
      transition: 0.3s ease fill

    @media screen and (min-width: $tablet-large-min-width)
      &:hover
        svg path
          fill: #01da00

    @media screen and (max-width: $desktop-max-width)
      right: calc((100vw - 1270px) / 2)

    @media screen and (max-width: $tablet-large-width)
      right: calc((100vw - 912px) / 2)

    @media screen and (max-width: $tablet-width)
      right: calc((100vw - 672px) / 2)

    @media screen and (max-width: $phone-width)
      right: #{get-vw(20px)}
      top: #{get-vw(30px)}
      width: #{get-vw(30px)}
      height: #{get-vw(26px)}
