.rock-feature
  position: absolute
  right: 70px
  bottom: -70px
  width: 175px
  height: 175px
  cursor: pointer

  @media screen and (max-width: $tablet-large-width)
    background: $green
    width: 367px
    height: auto
    display: flex
    box-sizing: border-box
    padding: 24px 29px 30px 40px
    right: 0
    //left: calc((100vw - 930px) / -2)
    left: -48px
    bottom: -50px

  @media screen and (max-width: $tablet-width)
    right: -69px
    bottom: 0
    left: unset

  @media screen and (max-width: $phone-width)
    position: relative
    width: 100vw
    right: 0 !important
    left: #{get-vw(-27px)}
    top: unset !important
    bottom: unset !important
    margin-bottom: #{get-vw(28px)}
    height: auto
    padding: #{get-vw(29px)} #{get-vw(27px)}


  &__circle
    width: 175px
    height: 175px
    background: url('../static/images/feature-text.svg') no-repeat center
    background-size: contain
    position: absolute

    @media screen and (max-width: $tablet-large-width)
      display: none

    @media screen and (max-width: $phone-width)
      width: #{get-vw(76px)}
      height: #{get-vw(76px)}
      display: block
      right: #{get-vw(22px)}
      top: #{get-vw(-39px)}

  &__rock
    width: 55px
    height: 90px
    background: url('../static/images/feature-rock.svg') no-repeat center
    background-size: contain
    position: absolute
    top: 50%
    left: 50%
    transform: translate3d(-50%, -50%, 0)

    @media screen and (max-width: $tablet-large-width)
      transform: none
      position: relative
      top: unset
      left: unset
      margin-right: 25px
      width: 33px
      height: 54px

    @media screen and (max-width: $phone-width)
      width: #{get-vw(24px)}
      height: #{get-vw(39px)}
      position: absolute
      top: #{get-vw(-20px)}
      right: #{get-vw(48px)}
      margin-right: 0
      transform: none


  &__content
    position: absolute
    width: 313px
    height: 313px
    line-height: 1.5
    color: white
    background: black
    border-radius: 50%
    display: flex
    align-items: center
    top: 50%
    left: 50%
    transform: translate3d(-50%, -50%, 0) scale(0)
    transition: transform 0.3s ease

    @media screen and (max-width: $tablet-large-width)
      position: relative
      transform: none
      border-radius: 0
      width: auto
      height: auto
      top: unset
      left: unset
      background: transparent
      color: black
      align-items: flex-start
      padding-top: 4px

    @media screen and (max-width: $phone-width)



  &__text
    max-width: 227px
    margin: 0 auto
    text-align: center

    @media screen and (max-width: $tablet-large-width)
      text-align: left
      font-size: 14px
      line-height: 1.57
      max-width: 240px

      @media screen and (max-width: $phone-width)
        font-size: #{get-vw(14px)}
        max-width: none

    &_width
      &_wide
        max-width: 237px

        @media screen and (max-width: $tablet-large-width)
          max-width: 240px

        @media screen and (max-width: $phone-width)
          max-width: none

  &:hover
    .rock-feature__content
      transform: translate3d(-50%, -50%, 0) scale(1)

      @media screen and (max-width: $tablet-large-width)
        transform: none
