.section
  position: relative

  &_background
    &_black
      color: white
      background: black url('../static/images/black-noise.gif')
      transition: opacity 0.5s ease

    &_white
      color: black
      background: white url('../static/images/white-noise.gif')

    &_absolute
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      z-index: 0

    &_hidden
      opacity: 0
