.clients-section
  padding: 90px 0
  overflow: hidden

  @media screen and (max-width: $desktop-max-width)
    padding-top: 55px
    padding-bottom: 117px

  @media screen and (max-width: $tablet-width)
    padding-top: 131px
    padding-bottom: 150px

  @media screen and (max-width: $phone-width)
    padding-top: #{get-vw(74px)}
    padding-bottom: #{get-vw(81px)}

.services-section
  padding: 185px 0
  color: black
  overflow: hidden

  @media screen and (max-width: $tablet-large-width)
    padding-bottom: 165px

  @media screen and (max-width: $tablet-width)
    padding-top: 150px

  @media screen and (max-width: $phone-width)
    padding-top: #{get-vw(71px)}
    padding-bottom: #{get-vw(111px)}

.integration-section
  box-sizing: border-box
  min-height: 990px
  padding-top: 265px
  padding-bottom: 330px

  @media screen and (max-width: $desktop-max-width)
    padding: 209px 0 126px
    min-height: 867px

  @media screen and (max-width: $tablet-large-width)
    padding-top: 240px
    padding-bottom: 133px
    min-height: 768px

  @media screen and (max-width: $tablet-width)
    overflow: hidden
    padding-top: 223px
    padding-bottom: 347px
    min-height: 970px
    padding-left: 25px

  @media screen and (max-width: $phone-width)
    padding-top: #{get-vw(106px)}
    padding-bottom: #{get-vw(115px)}
    padding-left: 0
    min-height: #{get-vw(644px)}

.contact-section
  padding: 180px 0

  @media screen and (max-width: $desktop-max-width)
    padding-top: 145px
    padding-bottom: 115px

  @media screen and (max-width: $tablet-width)
    padding-top: 165px
    padding-bottom: 170px

  @media screen and (max-width: $phone-width)
    padding-top: #{get-vw(71px)}
    padding-bottom: #{get-vw(75px)}