.service-item
  position: relative

  &:nth-child(even)
    padding-left: 500px

    @media screen and (max-width: $tablet-large-width)
      padding-left: 400px

    @media screen and (max-width: $tablet-width)
      padding-left: 0

  &_mediahub
    margin-bottom: 296px

    @media screen and (max-width: $desktop-max-width)
      margin-bottom: 246px

    @media screen and (max-width: $tablet-large-width)
      margin-bottom: 235px

  &_archive
    margin-bottom: 286px

    @media screen and (max-width: $desktop-max-width)
      margin-bottom: 276px

    @media screen and (max-width: $tablet-large-width)
      margin-bottom: 255px

    &__rock-feature
      @media screen and (max-width: $tablet-width)
        bottom: 355px

  &_signal
    margin-bottom: 336px

    @media screen and (max-width: $tablet-large-width)
      margin-bottom: 240px

  &_promo
    &__rock-feature
      right: 55px
      bottom: -60px

      @media screen and (max-width: $tablet-large-width)
        bottom: -20px

      @media screen and (max-width: $tablet-width)
        bottom: 360px
        right: -69px

  &:not(:last-child)
    @media screen and (max-width: $tablet-width)
      margin-bottom: 210px

    @media screen and (max-width: $phone-width)
      margin-bottom: #{get-vw(85px)}

  &__header-block
    position: relative

    @media screen and (max-width: $tablet-large-width)
     position: unset

    @media screen and (max-width: $tablet-width)
      position: relative

  &__header
    font-size: 61px
    font-weight: bold
    line-height: 1.05
    letter-spacing: -2px
    margin-top: 0
    margin-bottom: 60px

    @media screen and (max-width: $tablet-large-width)
      font-size: 48px
      line-height: 1.08
      letter-spacing: -1.58px
      margin-bottom: 50px

    @media screen and (max-width: $tablet-width)
      margin-bottom: 44px

    @media screen and (max-width: $phone-width)
      font-size: #{get-vw(28px)}
      line-height: 1.07
      letter-spacing: #{get-vw(-0.91px)}
      margin-bottom: #{get-vw(31px)}

    &_mediahub
      max-width: 771px

      @media screen and (max-width: $tablet-large-width)
        max-width: 610px

    &_signal
      max-width: 826px

      @media screen and (max-width: $tablet-large-width)
        max-width: 657px

      @media screen and (max-width: $tablet-width)
        width: 652px

      @media screen and (max-width: $phone-width)
        width: auto

    &_archive
      @media screen and (max-width: $phone-width)
        max-width: #{get-vw(241px)}
        width: auto

      div
        display: inline

        @media screen and (max-width: $tablet-large-width)
          display: block

        @media screen and (max-width: $phone-width)
          display: inline

    &_promo
      &-black
        display: block

  &__list
    line-height: 1.5
    margin: 0
    padding: 0
    list-style: none

    @media screen and (max-width: $tablet-large-width)
      font-size: 14px
      line-height: 1.57

    @media screen and (max-width: $phone-width)
      font-size: #{get-vw(14px)}

  &__list-item
    position: relative
    display: flex
    max-width: 500px

    @media screen and (max-width: $tablet-large-width)
      max-width: 440px

    @media screen and (max-width: $tablet-width)
      max-width: none

    &:before
      display: block
      content: ''
      background: black
      position: relative
      width: 7px
      height: 7px
      flex-shrink: 0
      margin-top: 7px
      margin-right: 24px

      @media screen and (max-width: $phone-width)
        width: #{get-vw(7px)}
        height: #{get-vw(7px)}
        margin-right: #{get-vw(24px)}
        margin-top: #{get-vw(7px)}


    & + &
      margin-top: 10px

      @media screen and (max-width: $tablet-large-width)
        margin-top: 11px

      @media screen and (max-width: $phone-width)
        margin-top: #{get-vw(14px)}

  &__image
    object-fit: contain
    width: 376px
    height: 376px
    position: absolute

    @media screen and (max-width: $tablet-large-width)
      width: 260px
      height: 260px

    @media screen and (max-width: $tablet-width)
      position: relative
      margin-bottom: 44px

    @media screen and (max-width: $phone-width)
      width: #{get-vw(120px)}
      height: #{get-vw(120px)}
      margin-bottom: #{get-vw(22px)}

    &_mediahub
      right: -130px
      bottom: 0
      width: 620px

      @media screen and (max-width: $tablet-large-width)
        width: 428px
        bottom: 35px
        right: -55px

      @media screen and (max-width: $tablet-width)
        right: 0
        left: -20px
        bottom: 0

      @media screen and (max-width: $phone-width)
        width: #{get-vw(198px)}
        margin-left: #{get-vw(10px)}

    &_archive
      top: 65px
      left: 60px
      width: 257px

      @media screen and (max-width: $tablet-large-width)
        width: 177px
        top: 15px
        left: 95px

      @media screen and (max-width: $tablet-width)
        top: 20px
        left: 40px

      @media screen and (max-width: $phone-width)
        width: #{get-vw(82px)}
        margin-left: #{get-vw(-37px)}
        margin-bottom: #{get-vw(40px)}

    &_signal
      right: 40px
      top: 157px
      width: 360px

      @media screen and (max-width: $tablet-large-width)
        right: 65px
        width: 248px
        top: 167px

      @media screen and (max-width: $tablet-width)
        top: 20px
        left: 0

      @media screen and (max-width: $phone-width)
        margin-left: #{get-vw(-10px)}
        margin-bottom: #{get-vw(30px)}
        width: #{get-vw(115px)}


    &_promo
      top: 25px
      left: 45px
      width: 313px

      @media screen and (max-width: $tablet-large-width)
        width: 216px
        top: 7px
        left: 70px

      @media screen and (max-width: $tablet-width)
        left: 30px
        top: 17px

      @media screen and (max-width: $phone-width)
        margin-left: #{get-vw(-25px)}
        margin-bottom: #{get-vw(30px)}
        width: #{get-vw(99px)}

    img
      width: 100%
      object-fit: contain
      height: 100%