.slider
  display: flex
  flex-wrap: nowrap

  &__controls
    display: flex

  &__control
    width: 29px
    height: 35px
    cursor: pointer
    outline: none
    transition: 0.3s ease opacity


    @media screen and (max-width: $tablet-large-width)
      width: 27px
      height: 33px

    @media screen and (max-width: $phone-width)
      width: #{get-vw(18px)}
      height: #{get-vw(22px)}
      padding: #{get-vw(9px)}

    &_left
      transform: scaleX(-1)

    & + &
      margin-left: 28px

      @media screen and (max-width: $phone-width)
        margin-left: 0

    &[aria-disabled=true]
      opacity: 0.3

    &:hover:not([aria-disabled=true])
      @media screen and (min-width: $tablet-large-min-width)
        svg path
          fill: #019f00

    svg
      object-fit: contain

      path
        transition: 0.3s ease fill

.slider-item
  width: 500px
  flex-shrink: 0
  color: black
  display: flex
  flex-direction: column
  position: relative
  box-sizing: border-box
  user-select: none

  &__header
    font-size: 40px
    font-weight: bold
    line-height: 1.15
    letter-spacing: -0.85px
    max-width: 383px

    @media screen and (max-width: $tablet-large-width)
      max-width: 289px
      font-size: 30px
      line-height: 1.17
      letter-spacing: -0.64px

    @media screen and (max-width: $phone-width)
      font-size: #{get-vw(25px)}
      line-height: 1.12
      letter-spacing: #{get-vw(-0.54px)}

  &__label
    line-height: 1.5
    margin-top: auto
    width: 234px

    @media screen and (max-width: $tablet-large-width)
      max-width: 206px
      font-size: 14px
      line-height: 1.57

    @media screen and (max-width: $phone-width)
      margin-top: #{get-vw(15px)}
      max-width: #{get-vw(238px)}
      font-size: #{get-vw(14px)}


  &__logo
    object-fit: contain
    object-position: right bottom
    position: absolute
    right: 32px
    bottom: 42px
    width: 200px
    height: 111px
    background-size: contain
    background-position: right bottom
    background-repeat: no-repeat

    @media screen and (max-width: $tablet-large-width)
      width: 164px
      height: 91px
      right: 22px
      bottom: 32px

    @media screen and (max-width: $phone-width)
      width: #{get-vw(178px)}
      height: #{get-vw(89px)}
      left: #{get-vw(26px)}
      bottom: #{get-vw(35px)}
      right: 0

  &__footer
    margin-top: auto
    font-size: 24px
    line-height: 1.33
    color: white

    @media screen and (max-width: $phone-width)
      font-size: #{get-vw(14px)}
      line-height: 2.29

  &__text
    font-size: 24px
    line-height: 1.46

    @media screen and (max-width: $phone-width)
      font-size: #{get-vw(14px)}
      line-height: 1.57

  &:nth-child(odd)
    background: $green

  &:nth-child(even)
    background: white

    .slider-item__footer
      color: $green

.tns-ovh
  overflow: visible !important

.tns-item
  display: inline-flex !important