.statistics
  display: flex
  margin-bottom: 117px
  position: relative
  z-index: 1

  @media screen and (max-width: $tablet-large-width)
    margin-bottom: 80px

  @media screen and (max-width: $tablet-width)
    flex-wrap: wrap
    flex-direction: column
    max-height: 460px
    margin-bottom: 90px

  @media screen and (max-width: $phone-width)
    max-height: none
    margin-bottom: #{get-vw(98px)}

.statistics-item
  &:nth-child(1)
    max-width: 268px
    margin-right: 132px

    @media screen and (max-width: $tablet-large-width)
      margin-right: 80px
      max-width: 213px

    @media screen and (max-width: $phone-width)
      max-width: #{get-vw(233px)} !important

  &:nth-child(2)
    max-width: 214px
    margin-right: 86px

    @media screen and (max-width: $tablet-large-width)
      margin-right: 50px
      max-width: 190px

    @media screen and (max-width: $phone-width)
      max-width: #{get-vw(196px)} !important


  &:nth-child(3)
    max-width: 229px
    margin-right: 71px

    @media screen and (max-width: $tablet-large-width)
      margin-right: 42px
      max-width: 198px

    @media screen and (max-width: $phone-width)
      max-width: #{get-vw(195px)} !important


  &:nth-child(4)
    max-width: 177px

    @media screen and (max-width: $tablet-large-width)
      max-width: 151px

    @media screen and (max-width: $tablet-width)
      max-width: 207px

    @media screen and (max-width: $phone-width)
      max-width: #{get-vw(210px)} !important

  &:nth-child(1), &:nth-child(2)
    @media screen and (max-width: $tablet-width)
      max-width: 254px
      margin-right: 140px

    @media screen and (max-width: $phone-width)
      margin-right: 0

  &:nth-child(3), &:nth-child(4)
    @media screen and (max-width: $tablet-width)
      margin-right: 0

  &:nth-child(odd)
    @media screen and (max-width: $tablet-width)
      margin-bottom: 42px

  &:not(:last-child)
    @media screen and (max-width: $tablet-width)
      margin-bottom: #{get-vw(47px)}

  &__value
    font-size: 80px
    line-height: 1
    letter-spacing: -4.8px
    font-weight: bold

    margin-bottom: 18px

    @media screen and (max-width: $tablet-large-width)
      font-size: 60px
      letter-spacing: -1.28px
      margin-bottom: 25px

    @media screen and (max-width: $tablet-width)
      margin-bottom: 15px

    @media screen and (max-width: $phone-width)
      font-size: #{get-vw(40px)}
      line-height: 1.15
      letter-spacing: #{get-vw(-0.85px)}
      margin-bottom: #{get-vw(5px)}

  &__title
    line-height: 1.5

    @media screen and (max-width: $tablet-large-width)
      font-size: 14px
      line-height: 1.57

    @media screen and (max-width: $phone-width)
      font-size: #{get-vw(14px)}