@font-face
  font-family: 'GothamPro'
  font-weight: normal
  font-style: normal
  src: url('../static/fonts/GothamPro.otf') format('opentype')

@font-face
  font-family: 'GothamPro'
  font-weight: 500
  font-style: normal
  src: url('../static/fonts/GothamPro-Medium.otf') format('opentype')

@font-face
  font-family: 'GothamPro'
  font-weight: bold
  font-style: normal
  src: url('../static/fonts/GothamPro-Bold.otf') format('opentype')
