.text
  &_highlight
    color: $green

  &_header
    font-size: 80px
    font-weight: bold
    margin: 0
    line-height: 1
    letter-spacing: -1.7px

    @media screen and (max-width: $tablet-large-width)
      font-size: 60px
      letter-spacing: -1.28px

    @media screen and (max-width: $phone-width)
      font-size: #{get-vw(40px)}
      line-height: 1.15
      letter-spacing: #{get-vw(-0.85px)}