html, body
  margin: 0
  padding: 0
  -webkit-font-smoothing: antialiased
  font-family: 'GothamPro', sans-serif
  font-size: 16px
  background: black
  color: white
  height: 100vh
  width: 100vw

.content
  height: 100%
  overflow-x: hidden

  @media screen and (max-width: #{$phone-width})
    height: auto

.scrollbar-track
  background: none !important